<!-- <div class="card-container">
  <div class="Image-container">
    <img
      src={{imageString}}
      alt=""
    />
  </div>
  <div class="Description">
    <div class="Video-title">
      <h3>{{ channelContent }}</h3>
    </div>
    <div class="Channel">
      <p>{{ channelName }}</p>
    </div>
  </div>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
  </style>
</div> -->
<!-- <div>
  <h2>Add Two Numbers</h2>
  
  <input type="number" [(ngModel)]="number1" placeholder="Enter first number" /> 
  +
  <input type="number" [(ngModel)]="number2" placeholder="Enter second number" />
  
  <button (click)="addTwoNumbers(number1,number2)">Add</button>

  <h3>Result: {{ result }}</h3>
</div> -->




