<!-- <p>test works!</p>
<button (click)="ShowTest(test)">Click Here</button>
<h3> {{ test }}</h3> -->
<!--ngif approach -->
<!-- <button (click)="shown=!shown">Click Me</button>
@if(shown ==true){<p>Hello there!</p>} -->

<!-- create an textarea to take some input and display id it exist -->
<!-- <input type="text"  [(ngModel)]="nameEntered" placeholder="Enter a name">
@if(nameEntered =="Selorm"){
  Selorm Exist
}
@else if(nameEntered == "Vert"){
  Vert Exist
}
@else if(nameEntered == "Addy"){
  Addy Exist
}
@else if(nameEntered == "Ova"){
  Ova Exist
}
@else{Name does not exist} -->


